<!DOCTYPE html>
<html lang="zh" id="html">
<head>
   <meta http-equiv="Cache" content="no-cache" />
   <meta http-equiv="Cache-Control" content="no-cache" />
   <meta http-equiv="Expires" content="0" />
   <meta http-equiv="Pragma" content="no-cache" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="lib/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css" />
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/util.css" />
    <link rel="stylesheet" href="css/individual.css" />
    <link rel="stylesheet" href="css/xs.css" />
    <link rel="stylesheet" href="css/qcFont.css" />
    <link rel="stylesheet" href="css/fontello.css" />
    <link rel="stylesheet" href="css/spanUtil.css" />
</head>

<body>
<!--navbar-->
 <header>
   <nav class="navbar navbar-fixed-up" id="navBar">
     <div class="container">
         
         <div class="navbar-header">
             <button id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             
             <a href="#" class="navbar-brand">
                 Legend!
             </a>
             
         </div>
         
         <div class="collapse navbar-collapse" id="navbar-collapse">
             <ul class="nav">
                 <li><a href="#">Portfolio</a></li>
                 <li><a href="#">Services</a></li>
                 <li><a href="#">News</a></li>
                 <li><a href="#">Team</a></li>
                 <li><a href="#">Contact</a></li>
                 
                <li id="nav-user">
                    <a href="#">
                        <span id="nav-user-text">user</span>
                        <span id="nav-user-icon" class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
             </ul>
         </div>
         
     </div>
   </nav>
    </header>
    
    
    <!-- bigScreen -->
    <section id="bigScreenSection">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12" id="bigScreenBox">
                    <figure></figure>
                    <div class="row absolute text-center color-white" id="bigScreenBoxRow1">
                        <div class="col-md-12 col-sm-12">
                            <h1>
                            <span class="color-yellow">Legend!</span>We make web abeautiful place.
                            </h1>
                        </div>
                    </div>
                    <div class="row absolute" id="bigScreenBoxRow2">
                        <div class="col-md-12 col-sm-12">
                            <div class="row" id="bigScreenBoxRow2_1">
                                <div class="col-md-12 col-sm-12 color-white text-center">
                                    <h2 id="h2Text">SignUp for our Newsletter to be updated</h2>
                                </div>
                            </div>
                            <div class="row" id="bigScreenBoxRow2_2">
                                <div class="col-md-4 col-sm-4 col-md-offset-3 col-sm-offset-3">
                                    <input id="mailInput" type="text" class="btn" placeholder="you@yourmail.com"/>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <button id="notifyButton" class="btn color-white">Notify me</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row absolute" id="bigScreenBoxRow3">
                        <div class="col-md-4 col-sm-4 col-md-offset-4 col-sm-offset-4">
                            <ul class="text-center">
                                <li><a href="#">
                                    <i class="icon-facebook-circled"></i>
                                </a></li>
                                <li><a href="#">
                                    <i class="icon-twitter-circled"></i>
                                </a></li>
                                <li><a href="#">
                                    <i class="icon-pinterest-circled"></i>
                                </a></li>
                                <li><a href="#">
                                    <i class="icon-gplus-circled"></i>
                                </a></li>
                                <li><a href="#">
                                    <i class="icon-skype-circled"></i>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
   <!--section_3-->
   <section id="section_3">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-12 col-sm-12" id="section_3_col">
                   <div class="table-wrap">
                       <p class="table-cell text-center vertical-align-middle color-white" id="section_3_p">
We work to make web a beautiful place.
<br class="hidden-xs" />
We craft beautiful designs and convert them into
<br class="hidden-xs" />
fully functional and user-friendy web app.
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </section>
   
   
   <!--section_4-->
   <section id="section4">
       <div class="container">
           <div class="row">
               <div class="col-md-12" id="section_4_col_first">
                   <div class="table-wrap text-center">
                       <div class="table-cell vertical-align-middle" id="desktopTableCell">
                           <i class="icon-desktop"></i>
                           <h1 id="section_4_h1" class="text-center">Portfolio...</h1>      
                        </div>
                   </div>
               </div>
           </div>
           
           <div class="row">
               <div class="col-md-4 col-sm-12">
                   <figure id="section4Figure1" class="section4Figure"></figure>
                   <h2 id="section4H21" class="section4H2 NavFont"></h2>
                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </p>
                   <a href="#" class="section4A" id="section4A1">view project</a>
               </div>
               <div class="clearfix visible-xs-block"></div>
               <div class="col-md-4 col-sm-12">
                   <figure id="section4Figure2" class="section4Figure"></figure>
                   <h2 id="section4H22" class="section4H2 NavFont">Ethan Marcotte Design</h2>
                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </p>
                   <a href="#" class="section4A" id="section4A2">view project</a>
               </div>
               <div class="col-md-4 col-sm-12">
                   <figure id="section4Figure3" class="section4Figure"></figure>
                   <h2 id="section4H23" class="section4H2"></h2>
                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </p>
                   <a href="#" class="section4A" id="section4A3">view project</a>
               </div>
                <div class="clearfix visible-lg-block visible-md-block"></div>
               <div class="col-md-4 col-sm-12">
                   <figure id="section4Figure4" class="section4Figure"></figure>
                   <h2 id="section4H24" class="section4H2"></h2>
                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </p>
                   <a href="#" class="section4A" id="section4A4">view project</a>
               </div>
               <div class="col-md-4 col-sm-12">
                   <figure id="section4Figure5" class="section4Figure"></figure>
                   <h2 id="section4H25" class="section4H2"></h2>
                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                   </p>
                   <a href="#" class="section4A" id="section4A5">view project</a>
               </div>
               <div class="col-md-4 col-sm-12">
                   <figure id="section4Figure6" class="section4Figure"></figure>
                   <h2 id="section4H26" class="section4H2"></h2>
                   <p>
                       Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.s
                   </p>
                   <a href="#" class="section4A" id="section4A6">view project</a>
               </div>
           </div>
       </div>
   </section>
   
   <section id="section_5">
       <div class="container">
           <div class="row">
               <div class="col-md-12 col-sm-12">
                   <div class="table-wrap text-center">
                       <div class="table-cell vertical-align-middle" id="section5_header">
                           <i class="icon-section5-cog" id="section5HeaderIcon"></i>
                           <h2>Services</h2>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-3 section5Lis" id="sectionLi1">
                          <div class="section5LisBox">
                           <div class="table-wrap text-center">
                               <div class="table-cell vertical-align-middle">
                                   <i class="icon-section5-cols" id="icon_section5_1"></i>
                                   <h1>Web design</h1>
                               </div>
                           </div>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                           </div>
                       </div>
                       <div class="col-md-3 section5Lis" id="sectionLi2">
                          <div class="section5LisBox">
                           <div class="table-wrap text-center">
                               <div class="table-cell vertical-align-middle">
                                   <i class="icon-section5-cols" id="icon_section5_2"></i>
                                   <h1>Web design</h1>
                               </div>
                           </div>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                           </div>
                       </div>
                       <div class="col-md-3 section5Lis" id="sectionLi3">
                          <div class="section5LisBox">
                           <div class="table-wrap text-center">
                               <div class="table-cell vertical-align-middle">
                                   <i class="icon-section5-cols" id="icon_section5_3"></i>
                                   <h1>Web design</h1>
                               </div>
                           </div>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                           </div>
                       </div>
                       <div class="col-md-3 section5Lis" id="sectionLi4">
                          <div class="section5LisBox">
                           <div class="table-wrap text-center">
                               <div class="table-cell vertical-align-middle">
                                   <i class="icon-section5-cols" id="icon_section5_4"></i>
                                   <h1>Web design</h1>
                               </div>
                           </div>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>    
   </section>
   
   <!-- section6 -->
   <section id="section6">
       <div class="container">
           <div class="row">
               <div class="col-md-12">
                   <div class="table-wrap text-center">
                       <div class="table-cell vertical-align-middle">
                           <i class="icon-section6-header"></i>
                           <h1 class="text-center NavFont" id="section6HeaderH1">Our Blog</h1>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-4 col-sm-4">
                           <div class="section6ColsBox">
                               <figure class="section6Figure" id="section6Figure1"></figure>
                               <p class="section6FigureDate">March 17, 2013</p>
                               <h2 class="section6FigureTitle">A girl running on a road</h2>
                               <p class="section6FigureContent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. …</p>
                               <a href="#" class="section6FigureLink" id="section6FigureLink1">read more</a>
                           </div>
                       </div>
                       <div class="col-md-4 col-sm-4">
                           <div class="section6ColsBox">
                               <figure class="section6Figure" id="section6Figure2"></figure>
                               <p class="section6FigureDate" id="section6FigureDate2">February 28, 2013</p>
                               <h2 class="section6FigureTitle">A bear sleeping on a tree</h2>
                               <p class="section6FigureContent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. …</p>
                               <a href="#" class="section6FigureLink" id="section6FigureLink2">read more</a>
                           </div>
                       </div>
                       <div class="col-md-4 col-sm-4">
                           <div class="section6ColsBox">
                               <figure class="section6Figure" id="section6Figure3"></figure>
                               <p class="section6FigureDate" id="section6FigureDate3">February 06, 2013</p>
                               <h2 class="section6FigureTitle">A Panda playing with his baby</h2>
                               <p class="section6FigureContent">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. …</p>
                               <a href="#" class="section6FigureLink" id="section6FigureLink3">read more</a>
                           </div>
                       </div>
                   </div>
                   <div class="table-wrap text-center">
                       <div class="table-cell vertical-align-middle" id="GoToBlogButtonBox">
                           <a class="btn btn-default color-white-important NavFont bgColorYellow" id="GoToBlogButton">Go to our blog</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   
   
   <!--section7-->
   <section id="section7" class="color-white bgColorBrown">
       <div class="container text-center color-gray">
           <div class="table-wrap">
               <div class="table-cell vertical-align-middle">
                   <i class="icon-section7HeaderIcon"></i>
                   <h1 class="section7HeaderH1">Meet the team</h1>
               </div>
           </div>
           <div class="row">
               <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-1">
                   <img src="img/portrait-1.jpg" alt="" class="section7HeaderImg img-circle" id="section7Img1">
                   <h2 class="section7HeaderH2">Andrew</h2>
                   <p class="section7HeaderP">web designer</p>
               </div>
               <div class="col-md-2 col-sm-2">
                   <img src="img/portrait-1.jpg" alt="" class="section7HeaderImg img-circle" id="section7Img2">
                   <h2 class="section7HeaderH2">Andrew</h2>
                   <p class="section7HeaderP">web designer</p>
               </div>
               <div class="col-md-2 col-sm-2">
                   <img src="img/portrait-1.jpg" alt="" class="section7HeaderImg img-circle" id="section7Img3">
                   <h2 class="section7HeaderH2">Andrew</h2>
                   <p class="section7HeaderP">web designer</p>
               </div>
               <div class="col-md-2 col-sm-2">
                   <img src="img/portrait-1.jpg" alt="" class="section7HeaderImg img-circle" id="section7Img4">
                   <h2 class="section7HeaderH2">Andrew</h2>
                   <p class="section7HeaderP">web designer</p>
               </div>
               <div class="col-md-2 col-sm-2">
                   <img src="img/portrait-1.jpg" alt="" class="section7HeaderImg img-circle" id="section7Img5">
                   <h2 class="section7HeaderH2">Andrew</h2>
                   <p class="section7HeaderP">web designer</p>
               </div>
           </div>
           <div class="row QCFont">
               <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
                   <div class="section7ThirdPartTitle">
                       <h2 class="section7ThirdPartTitleH2 QCFont">
                           Want to know more?
                           <span class="section7ThirdPartTitleSpan">
                               | a little about us
                           </span>
                       </h2>
                   </div>
                   <p class="section7ThirdPartP">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
                   <p class="section7ThirdPartP">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
                   <p class="section7ThirdPartP">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
               </div>
           </div>
           
           <div class="row forthPart">
               <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
                   <div class="table-wrap text-center">
                       <div class="table-cell vertical-align-middle">
                           <i class="icon-section7ForthPart"></i>
                           <h1 class="section7ForthPartHeaderH1">Contact us now!</h1>
                       </div>
                   </div>
                   <form action="">
                       <div class="form-group">
                           <div class="col-md-6 col-sm-6"><input type="text" class="bgColorGray form-control section7FormInput block" placeholder="Your" Name=""></div>
                           <div class="col-md-6 col-sm-6"><input type="text" class="bgColorGray form-control section7FormInput block" placeholder="Your" Name=""></div>
                       </div>
                       <div class="form-group">
                           <div class="col-md-6 col-sm-6"><input type="text" class="bgColorGray form-control section7FormInput block" placeholder="Your" Name=""></div>
                           <div class="col-md-6 col-sm-6"><input type="text" class="bgColorGray form-control section7FormInput block" placeholder="Your" Name=""></div>
                       </div>
                       <div class="form-group">
                           <div class="col-md-12 col-sm-12">
                               <textarea type="textarea" cols="40" rows="10" class="form-control section7FormInputTextArea bgColorGray"></textarea>
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="col-md-3 col-sm-3">
                           <input type="submit" class="form-control section7FormSubmit btn btn-default large-btn bgColorYellow color-white bgColorGray-BlackHover color-white-important" value="Send Message" />
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </section>
   
   <footer class="bgColorGray-White">
       <p id="footer-text" class="text-center QCFont">
           @db
       </p>
   </footer>
    <script src=""></script>
</body>
</html>
