
#section1 {
    background-color: rgba(30,30,30,.4);
    position: fixed;
    top:0px;
    left:0px;
    z-index: 1;
    width:100%;
}

.brandImg {
    max-width: 53px;
    vertical-align: middle;
}

.navbarImg {
    width: 50px
}



#brandCell {
    height:50px;
}

#bg {
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 900px;
    background-image: url(../img/background-data-microservice.jpg);
    background-size: cover;
    background-position: top;
}

#navbarToggle .icon-bar{
    background-color: #fff;
}

#collapseMenu a{
    color: white;
}

.navbar {
    margin-bottom: 0px;
}

#collapseMenu .nav>li>a{
    opacity: .6;
    background-color:transparent !important;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#collapseMenu .nav>li>a:hover{
    opacity: .9;
}

#navbarToggle {
    margin-top: 0px;
    margin-bottom: 0px;
    height:50px;
    opacity: .6;
}

#navbarToggle:hover{
    opacity: .9;
}

#section2H1Part {
    height:300px;
}

#section2H1Part a{
    color: white;
}

#section2ContentBox {
    height: 900px;
}

.section2H1PartLink {
    padding: 17px 0px;
    min-width: 170px;
    background-color: #3eabb8;
    transition: all .5s ease-in-out;
}

.section2H1PartLink:nth-of-type(1){
    background-color: transparent;
    border-color: white;
    border-width: 3px
}

#section2H1Part .section2H1PartLink:hover{
    background-color: white;
    color: #3eabb8;
}

.section2H1PartLink:nth-of-type(2){
    margin-left: 40px;
}



.section3Img {
    display: inline-block;
    width:100px;
    height:100px;
    border-radius: 50%;
    border:3px solid #333;
}

#section3{
    margin-top: 50px;
}



.section3P {
    margin-top: 40px;
    margin-bottom: 80px;
}

.section4Pairs {
    padding: 160px 0px;
    position: relative;
}



#section4 .section4Pairs:nth-child(odd) .section4PairsTextColBox{
    float: right;
}

.section4Pairs:nth-child(even) .section4PairsImgCol{
    right: 0px;
}

#section4 .section4PairsImgCol {
    position: absolute;
    height: 100%;
    background-color: #eee;
    top:0px;
}

.section4PairsImg {
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
    background-image: url(../img/background-data-microservice.jpg);
    background-size: cover;
    background-position: top;
}
