@media (max-width:768px){
    #navbar-collapse ul{
        text-align: left;
    }
    #navbar-collapse li{
        display: block;
    }
    #nav-user{
        float: none;
    }
    #nav-user-icon{
        display: none;
    }
    #nav-user-text{
        display: block;
    }
    #navBar{
        border-bottom: none;
    }
    #notifyButton{
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        margin-top: 5px;
    }
    #bigScreenBoxRow3{
        top:550px;
    }
    #bigScreenBoxRow1{
        top:70px;
    }
}

